<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modal">
    <div class="modal fade" id="orderManagementDetailModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered admin-order-detail-dialog">
            <div class="modal-content border-0 rounded-4 shadow" data-order-management-detail-content>
                <div class="modal-body py-5 text-center text-secondary">Đang tải chi tiết đơn hàng...</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
